body {
    background-color: #B6D7E4;
}

h1 {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

#paragraph2 {
    width: 850px;
    background-color: white;
    border: 3px solid;
    border-color: green ;
    padding: 30px;
    margin: 20px;
    line-height: 2.0;

}

.blue {
    background-color: #00008B;
    font-size: 14px;
    color: white;
    border: 1px solid;
    border-color: black ;
    padding: 14px 18px ;
}

ol{
  list-style-type: decimal-leading-zero; 
  margin: 0 0 0 1px;     
  padding-left: 25px; 
}

a{
  color: #0000EE;              
}

a:visited{
  color: #551A8B;             
}

a[href*="w3schools"]{
  color: #772424;              
}

a[href*="w3schools"]:visited{
  color: #db1818;
}

table, td, th {
    border-collapse: collapse;
    border:1px solid
}

th {
    background-color:#D9D9D9;
}

td {
    background-color: white;
    padding: 8px;
}