*{ box-sizing: border-box; }

body {
    background-color: #ffffff;
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#jumpMenu{
    background-color: #D2A741;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15%;
    position: fixed;
    overflow: auto;
    padding: 12px 10px;
}

#jumpMenu h2 {
    margin: 4px 0 10px 0;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

#jumpMenu a {
    display: block;
    margin: 8px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:14px;
}

header {
    position: fixed;
    top: 0;
    left: 15%;
    height: 95px;
    width: 85%;
    background-color: red;
    margin: 0;
    padding: 0;
}

header > p {
    margin: 0;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

header nav {
    display: flex;
    margin: 0;
    padding: 0;
    height: 45px ;
    align-items: stretch;
    justify-content: center;
    background: black;
    gap: 35px;
}

header button {
    margin: 0;
    padding: 0;
    width: 160px;
    border: 1px;
    background-color: #0000FF;
    color: #fff;
}

main{
    margin-left: 15%;
    padding-top: 95px;
    padding-left: 30px;
    padding-right: 30px;

}

h1{
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    gap: 18px;
}

#container article {
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

#container article h2 {
    margin: 0 0 8px 0;
    font-size: 16px;
    font-weight: 700;
}

#container article p {
    text-align: justify;
    margin: 0 0 8px 0;
    font-size: 11px;
    line-height: 1.25;
}*{ box-sizing: border-box; }

body {
    background-color: #ffffff;
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#jumpMenu{
    background-color: #D2A741;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15%;
    position: fixed;
    overflow: auto;
    padding: 12px 10px;
}

#jumpMenu h2 {
    margin: 4px 0 10px 0;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

#jumpMenu a {
    display: block;
    margin: 8px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:14px;
}

header {
    position: fixed;
    top: 0;
    left: 15%;
    height: 95px;
    width: 85%;
    background-color: red;
    margin: 0;
    padding: 0;
}

header > p {
    margin: 0;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

header nav {
    display: flex;
    margin: 0;
    padding: 0;
    height: 45px ;
    align-items: stretch;
    justify-content: center;
    background: black;
    gap: 35px;
}

header button {
    margin: 0;
    padding: 0;
    width: 160px;
    border: 1px;
    background-color: #0000FF;
    color: #fff;
}

main{
    margin-left: 15%;
    padding-top: 95px;
    padding-left: 30px;
    padding-right: 30px;

}

h1{
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    gap: 18px;
}

#container article {
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

#container article h2 {
    margin: 0 0 8px 0;
    font-size: 16px;
    font-weight: 700;
}

#container article p {
    text-align: justify;
    margin: 0 0 8px 0;
    font-size: 11px;
    line-height: 1.25;
}


#thanks {
    position: fixed;
    background: #8ED0F8;
    right:18px;
    bottom:18px;
    margin: 0;
    padding: 14px 18px;
    border: 1px solid;
    font-size: 20px;

}

#thanks {
    position: fixed;
    background: #8ED0F8;
    right:18px;
    bottom:18px;
    margin: 0;
    padding: 14px 18px;
    border: 1px solid;
    font-size: 20px;

}